-# coding: utf-8
!!!
/[if IE 9 ] <html class="ie9">
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title ? "#{$title} | #{@title}" : $title
    / CSS
    -#%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "/fonts/Material-Icons/material-icons.css", :rel => "stylesheet"}/
    %link{:href => "/css/timeline-chart.css?#{rand(1024)}", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/d3.slider.css?#{rand(1024)}", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style-d3.css?#{rand(1024)}", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/main.css?#{rand(1024)}", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    :css
      body {
        background: #eee;
      }
      a { cursor: pointer; }
      .flex-grid {
        display: flex;
        flex-flow: row wrap;
      }
      .flex-grid.vertical {
        flex-directon: column;
      }
      .flex-grid.no-wrap {
        flex-wrap: nowrap;
      }
      .col { 
        flex: 1; 
        margin: 4px;
        padding: 0 6px;
        background-color: #fff;
      }
      .col2 { 
        flex: 2; 
        margin: 4px; 
        padding: 0 6px;
        background-color: #fff;
      }
      .nowrap {
        white-space: nowrap;
        display: inline;
      }
      .rw3 {
        background-image:url("/img/rw3.svg") !important;
        transition: 1s !important;
      }
      .leaflet-control-scale-line {
        background-color: transparent;
      }
      canvas.leaflet-zoom-animated { 
        height: calc( 100% - 48px ) !important;
      }
      .svg {
        width: 100%;
        max-width: 100%;
      }
      .dropdown-content li > a, .dropdown-content li > span { color: #666; }
      .full { width: 100%; }
      input.select-dropdown, #period { margin-bottom: 10px !important; }
      .block {display:block;}
      .nobg { background-color: transparent; }

      small.info {
        color: black;
        font-weight: normal;
      }

      small.info span {
        color: white;
      }

      nav:disabled {
        /*transition: 0s !important;*/
        background: #2196f3; background: -moz-linear-gradient(left, #2196f3 0%, #2196f3 50%, #4caf50 50%, #4caf50 100%); background: -webkit-linear-gradient(left, #2196f3 0%,#2196f3 50%,#4caf50 50%,#4caf50 100%); background: linear-gradient(to right, #2196f3 0%,#2196f3 50%,#4caf50 50%,#4caf50 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#4caf50',GradientType=1 );
        background-position: left 100% top 0% !important;
      }

      a#update i {
        padding: 0px 24px;
      }

      a#update:hover i {
        font-weight: bold;
      }

    %link{:rel=>"apple-touch-icon-precomposed",:href=>"/img/apple-touch-icon-152x152-precomposed.png"}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  %body
    %header
      -#=Haml::Engine.new(IO.read("#{Dir.pwd}/views/sidenav.haml")).render
      .navbar-fixed
        %nav.top-nav.blue
          -#%a.button-collapse.top-nav.full{"data-activates" => "nav-mobile", :href => "#"}
            %i.material-icons.large menu
          .nav-wrapper
            %h5{:style=>"color:white !important; left: 42px !important"} 
              VHF Backlog
              %small.info
            .right
              %a#update{:href=>"#"}
                %i.material-icons cached

    %main
      =yield

    #modal.modal
      .modal-content

    :javascript
      var domain = "#{$domain}";
    %script{:src => "/js/jquery-3.3.1.min.js?#{rand(1024)}", :type=>"text/javascript"}
    -#%script{:src => "/js/jquery.skedTape.js?#{rand(1024)}", :type=>"text/javascript"}
    %script{:src => "/js/materialize.min.js?#{rand(1024)}", :type=>"text/javascript"}
    %script{:src => "/js/d3.min.js?#{rand(1024)}", :type=>"text/javascript"}
    %script{:src => "/js/d3-tip.min.js?#{rand(1024)}", :type=>"text/javascript"}
    %script{:src => "/js/d3.slider.js?#{rand(1024)}", :type=>"text/javascript"}
    %script{:src => "/js/timeline-chart.js?#{rand(1024)}", :type=>"text/javascript"}
    %script{:src => "/js/app.js?#{rand(1024)}", :type=>"text/javascript"}

